.card {
  position: static;
  height: 115px;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #bfbfbf;
}

.square {
  height: 60px;
  width: 60px;

  background-color: green;
}

.circle {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  //width: 63px;

  background-color: green;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  //border-width: 0 30px 52px 30px; FOR 60
  //border-width: 0 31.5px 54.6px 31.5px;
  //border-width: 0 35px 60.6px 35px; //for width 70px
  border-width: 0 40px 69.3px 40px; //for width 80px
  border-color: green green transparent green;
  transform: rotate(0deg);
}

.triangle_mask_white {
  position: absolute;
  z-index: 10;
  width: 0px;
  height: 0px;
  border-style: solid;
  //border-width: 0 30px 52px 30px; FOR 60
  //border-width: 0 31.5px 54.6px 31.5px;
  //border-width: 0 35px 60.6px 35px; //for width 70px
  border-width: 0 40px 69.3px 40px; //for width 80px
  border-color: white white transparent white;
  transform: rotate(0deg);
}

.triangle_mask_black {
  position: absolute;
  z-index: 10;
  width: 0px;
  height: 0px;
  border-style: solid;
  //border-width: 0 30px 52px 30px; FOR 60
  // border-width: 0 31.5px 54.6px 31.5px;
  //border-width: 0 35px 60.6px 35px; //for width 70px
  border-width: 0 40px 69.3px 40px; //for width 80px
  border-color: black black transparent black;
  transform: rotate(0deg);
}

.triangle_mask_grey {
  position: absolute;
  z-index: 10;
  width: 0px;
  height: 0px;
  border-style: solid;
  //border-width: 0 30px 52px 30px; FOR 60
  // border-width: 0 31.5px 54.6px 31.5px;
  border-width: 0 40px 69.3px 40px; //for width 80px
  border-color: #a6a6a6 #a6a6a6 transparent #a6a6a6;
  transform: rotate(0deg);
}

.red {
  background-color: #ff0000;
}

.blue {
  background-color: #2f5597;
}

.yellow {
  background-color: yellow;
}

.white_background {
  background-color: white;
}

.black_background {
  background-color: black;
}

.grey_background {
  background-color: #a6a6a6;
}

// .number_tag_wrapper {
//   z-index: 30;
//   display: flex;
//   justify-content: flex-start;

//   position: absolute;
//   left: 0;

//   border: 1px solid purple;
//   height: 25px;
//   width: 25px;
// }

.number_tag {
  position: absolute;
  z-index: 20;
  //right: 10px;
  //top: 10px;
  //left: 10px;

  height: 27px;
  width: 27px;

  border: 1px solid #d7d3d5;
  background-color: darkred;
  //transform: translate(-15px, -3px);
  transform: translate(-5px, -5px);
}

// .card-component {
//   position: relative;
// }
